@CHARSET "ISO-8859-1";
.formtable {
	width: 100%;
	padding: 50px;
	border: 1px solid blue;
	background-color: silver;
}

table{
	width: 100%;
	padding: 10px;
	border: 1px solid black;
}

td{
	width: 20px;
	padding: 10px;
	border: 1px solid black;
}

tr{
	width: 20px;
	padding: 10px;
	border: 1px solid black;
}

input[type=text] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error{
	font-size: small;
	color: red;
}

body{
	background-color: silver;
}